<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}PM2.5{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="header"></div>
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
  <div class="footer">
    <p class="column">All right reserved by <a href="http://www.banbanchs.com">banbanchs</a>.</p>
  </div>
  <script src="{% static 'echarts-all.js' %}"></script>
  <script data-main="{% static 'all.js' %}" src="{% static 'require.js' %}"></script>
</body>
</html>
