{% extends 'base.html' %}
{% block content %}
<div class="widget-wrapper" id="widget-pm25">
  <div class="widget">
    <div class="widget-header">
      <h1 class="widget-title">pm2.5</h1>
    </div>
    <div class="widget-content">
      <span class="widget-value"></span>
      <span class="widget-value-description"></span>
    </div>
  </div>
</div>
<div class="widget-wrapper" id="widget-aqi">
  <div class="widget">
    <div class="widget-header">
      <h1 class="widget-title">aqi</h1>
    </div>
    <div class="widget-content">
      <span class="widget-value"></span>
      <span class="widget-value-description"></span>
    </div>
  </div>
</div>
{% endblock %}