/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

/*******Variables******/

@max-width: 1300px;
@color-dark: #2d3e50;
@color-bg: #FBFBFB;
@color-cream-white: #F5FFFA;

@grid-gutter-width: 20px;
@grid-float-breakpoint: @screen-md-min;
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
@screen-xs-min: @screen-xs;
@screen-sm-min: @screen-sm;
@screen-md-min: @screen-md;
@screen-lg-min: @screen-lg;
@container-sm: (720px  + @grid-gutter-width);
@container-md: (940px  + @grid-gutter-width);
@container-lg: (1140px + @grid-gutter-width);

/**********************/
/* MIXIN */
.clearfix {
  *zoom: 1; /* For IE6/7 */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);

  &:extend(.clearfix all);

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.colorscheme( @light, @dark ) {
  position: relative;
  .widget-header,
  .widget-title {
    border-color: @dark;
    background-color: @light;
    color: darken(@dark, 20%);
  }
  .widget-value,
  .widget-value-description {
    color: darken(@dark, 20%);
  }
}

/**********************/

.box-shadow(@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.bg-shadow(@top) {
    background: url(images/bg-shadow.png) 0 0 repeat-x;
    height: 13px;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: @top;
    left: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: @color-bg;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
}

.footer {
  border-top: 1px solid #f2f2f2;
  text-align: center;
  // background: #FFF;
  padding: 30px 0;
}

.header, .footer {
  &:extend(.clearfix all);
}

/**
 * Widget
 **/

.row {
  &:extend(.clearfix all);
}

@defaults-dark: #E6E9ED;
@defaults-light: #F5F7FA;
@default-text: darken(@defaults-dark, 25%);

.widget-wrapper {
  width: 180px;
  margin: 0 20px;
  float: right;
}

.widget {
  text-align: center;
  color: @default-text;
  border-radius: 10px;
  transition: all 0.3s;
  // .box-shadow(0 3px 3px 0 rgba(226, 228, 231, 0.8));
  &:hover {
    // .box-shadow(0 6px 6px 0 rgba(226, 228, 231, 1));
  }
}

.widget-header {
  padding: 20px 20px 20px 20px;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.widget-header,
.widget-title {
  background-color: @defaults-dark;
}

.widget-header,
.widget-title,
.widget-content {
  border: 1px solid darken(@defaults-dark, 10%);
}

.widget-icon {
  font-size: 4.5em;
}

.widget-title {
  display: inline;
  position: relative;
  bottom: -30px;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.widget-content {
  padding: 2em 1.2em 1.2em 1.2em;
  border-top: 0 none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: @defaults-light;
}

.widget-value {
  position: relative;
  font-size: 3.5em;
  line-height: .8em;
}

.widget-value sup {
  position: absolute;
  top: 1.3em;
  right: -.7em;
  font-size: .2em;
}

.widget-value-description {
  display: block;
  font-size: .7em;
  line-height: .7em;
}

/**
 * Widget status
 */

/* bad */

@bad-dark: #DA4453;
@bad-light: #ED5565;

.widget-bad {
  .colorscheme(@bad-light, @bad-dark);
}

/* middle */
@middle-dark: #FCBB42;
@middle-light: #FFCE54;

.widget-middle {
  .colorscheme(@middle-light, @middle-dark);
}

/* moderate */
@moderate-dark: #3BAFDA;
@moderate-light: #4FC1E9;

.widget-moderate {
  .colorscheme(@moderate-light, @moderate-dark);
}

/* good */
@good-dark: #37BC9B;
@good-light: #48CFAD;

.widget-good {
  .colorscheme(@good-light, @good-dark);
}

/* nav */

.header {
  background: #FFF;
  position: relative;

  .header-shadow {
    .bg-shadow(105px);
  }
}
.nav {
  &:extend(.container all);
  border-top: 1px solid #f2f2f2;
  margin-top: 50px;

  ul {
    list-style: none;
    text-align: center;

    li {
      // Fix inline block on IE
      // http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
      display: -moz-inline-stack; /* For old version Firefox */
      display: inline-block;
      zoom: 1;
      *display: inline; /* IE6 or IE7 */

      a {
        display: block;
        font-size: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin: 0 10px;
        text-decoration: none;
        color: lighten(@color-dark, 30%);

        position: relative;
        z-index: 1;
        transition: all 0.5s;

        &::after {
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 0;
          color: transparent;
          background: lighten(@moderate-light, 20%);
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all 0.5s;
        }

        &:hover {
          color: darken(@color-dark, 30%);
        }

        &:hover::after, &.active {
          opacity: 1;
          background: lighten(@moderate-light, 10%);
          visibility: visible;
          height: 100%;
        }
      }
    }
  }
  .navbar {
    float: left;
  }
  .cities {
    float: right;
  }
}

@keyframes animatedCloud {
  0% { background-position: 100% 0; }
  50% { background-position: 100% 20%; }
  100% { background-position: 100% 0; }
}

.content {
  padding: 40px 0;

  .content-shadow {
    .bg-shadow(401px);
  }

  .charts {
    height: 450px;
    margin: 0 30px;
    padding: 20px;
    border: 1px solid #f2f2f2;
  }

  .row {
    margin-bottom: 30px;
    padding: 100px 50px;
  }

  .air-overview {
    background: #85949C;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

    .air-description {
      float: left;
      width: 600px;
      color: #FFF;
      background: url(images/cloud1.png) no-repeat top right;
      animation: animatedCloud 5s ease-in-out infinite;

      .city-description, .data-updatetime {
        color: #C4C8CA;
        font-weight: 300;
      }

      .city-name {
        font-size: 2.5em;
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        width: 61.8%;
      }

      .level {
        font-size: 1.4em;
      }

      .level, p {
        font-weight: 400;
        margin-bottom: 0.6em;
      }
    }
  }

  .divider {
    color: #999;
    font-weight: 700;
    text-align: center;
    line-height: 1;

    width: 80%;
    height: auto;
    margin: 1em auto;
    padding: 1em 0;
    position: relative;

    user-select: none;
    overflow: hidden;

    &:before, &:after {
      position: absolute;
      content: ' ';
      z-index: 3;
      width: 50%;
      top: 50%;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:before {
      left: -4em;
      margin-right: 1em;
    }

    &:after {
      right: -4em;
      margin-left: 1em;
    }
  }
}

.knowledge {
  padding: 0 30px;
}
.knowledge .article {
  h2, h3 {
    color: #555;
    font-weight: 400;
    margin: 1em 0;
  }
  p {
    color: #333;
    text-indent: 2em;
    margin-bottom: 0.8em;
  }
  a {
    text-decoration: underline;
    margin: 0 0.3em;
  }
  strong {
    font-size: 1.1em;
  }
}